# =========================

# MASTER REPO .gitignore

# Angular + Spring Boot

# =========================

# =========================

# Node / Angular

# =========================

mastermind-angular/node_modules/
mastermind-angular/dist/
mastermind-angular/tmp/
mastermind-angular/out-tsc/
mastermind-angular/bazel-out/
mastermind-angular/npm-debug.log
mastermind-angular/yarn-error.log
mastermind-angular/.angular/cache
mastermind-angular/.sass-cache/
mastermind-angular/coverage/
mastermind-angular/connect.lock
mastermind-angular/libpeerconnection.log
mastermind-angular/testem.log
mastermind-angular/typings/
mastermind-angular/**screenshots**/

# =========================

# Java / Maven / Spring

# =========================

mastermind-spring/target/
mastermind-spring/build/
mastermind-spring/!**/src/main/**/target/
mastermind-spring/!**/src/test/**/target/
mastermind-spring/!**/src/main/**/build/
mastermind-spring/!**/src/test/**/build/
mastermind-spring/
mastermind-spring/.mvn/wrapper/maven-wrapper.jar

# =========================

# IDEs

# =========================

# IntelliJ

.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans

/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# =========================

# VS Code

# =========================

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# =========================

# Misc

# =========================

.history/
HELP.md

# =========================

# System files

# =========================

.DS_Store
Thumbs.db
